:root{
	--mainText:black;
	--secondaryText:#4b5156;

	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--themeDotBorder:#24282e;

	--previewBg:rgb(251,240,243,0.8);

	--previewShadow:#f0ead6; 

	--buttonColor:black;
}

html, body{
	padding: 0;
	margin: 0;
}

body *{
	transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong{
	color:#523c00;
	font-family: 'Yellowtail', cursive;
}

p, li, span, label, input, textarea{
	color: #393018;
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
	color:#4b3906;
}

ul{
	list-style: none;
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 26px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

.s1{
	background-color: #ffffcc ;
	border-bottom:1px solid #4b3906 ;
	overflow: auto;
}

.s2{
	background-color: #ffffb3 ;
	border-bottom:1px solid #4b3906 ;
	overflow: auto;
	flex-direction: column;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}

.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}

.intro-wrapper{
	
	background-color: #ffffb3 ;
	border:1px solid #4b3906 ;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper{
	grid-area: nav-wrapper; 
	border-radius: 5px 5px 0 0 ;
	border-bottom: 1px solid #4b3906 ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffcc ;

}

#navigation a{
	color: #523c00;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#dot-1{
	background-color: black;
}

#dot-2{
	background-color: black;
}

#dot-3{
	background-color: black;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;

	margin: 5px;
	border:2px solid black;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.navigation{
	margin: 0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px; 
	margin-left: 5px; 
}

.left-column{
	grid-area: left-column; 
	padding-top: 50px;
	padding-bottom: 50px;
}

#profile_pic{
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	object-fit: cover;
	border: 2px solid #4b3906 ;
}

#settings-note{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column{
	grid-area: right-column; 
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}

#preview-shadow{
	background-color: #f6d988 ; 
	width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 300px;
	border:1.5px solid #17a2b8;
	background-color:rgb(244, 209, 113,0.8);
	padding: 15px;
	position: relative;
}

.corner{
	width: 7px;
	height:7px;
 	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl
{
	top: -5px;
	left: -5px;
}

#corner-tr
{
	top: -5px;
	right: -5px;
}

#corner-br
{
	bottom: -5px;
	right: -5px;
}

#corner-bl
{
	bottom: -5px;
	left: -5px;
}

.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
	padding-top: 50px;
	padding-bottom: 50px;
	gap:100px;
	text-align: center;
}

#skills{
	display: flex;
	justify-content: space-evenly;
	background-color: #f6d988 ; 
}

#random{
	justify-content: space-evenly;
	background-color: transparent;
}

#social_pic{
	width: 100%;
	align-content: center;
	border: 2px solid #4b3906 ;
}

.image
{
	height: 350px;
	width: 350px;
	background-color:rgb(244, 209, 113,0.8);
	color: rgb(244, 209, 113,0.8);
}

h4
{
	padding-top:70px;
}

.image:hover
{
	text-align: center;
	color:#4b3906 ;
}

.card{
	box-shadow: 0 0 0 0 rgba(100, 100, 100, 100);
	text-align: center;
	height: 350px;
  }
  
  .card-text {
	text-align: center;
	line-height: 100px ;
	color:#4b3906;
	/* width: 400px; */
  }
  .card-title
  {
	font-size: 2.5em;
	color: #4b3906;
  }
  .card-text{
	  font-size: 1em;
	  color: #4b3906;
	  padding:3px;
  }

#card1
{
	background-color: rgb(244, 209, 113,0.8);
}  

#contact-form
{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border:1px solid #4b3906 ;
	padding:15px;
	border-radius: 5px;
	background-color: #ffffcc ;
	margin-bottom: 30px;
}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ffffb3 ;
	border-radius:5px;
	border:1px solid #4b3906 ;
	font-size: 14px;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: #f3ca59 ;
	border:none; 
}

#status {
	width: 90%;
	max-width: 500px;
	text-align: center;
	padding: 2px;
	margin: 0 auto;
	margin-bottom: 50px;
	border-radius: 8px;
  }
#status.success {
	background-color: rgb(211, 250, 153);
	animation: status 4s ease forwards;
  }
  #status.error {
	background-color: rgb(250, 129, 92);
	color: white;
	animation: status 4s ease forwards;
  }
@keyframes status {
0% {
	opacity: 1;
	pointer-events: all;
}
90% {
	opacity: 1;
	pointer-events: all;
}
100% {
	opacity: 0;
	pointer-events: none;
}
}
  

@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
	grid-template-columns: 1fr;
	grid-template-areas: 'nav-wrapper' 'left-column' ' right-column';
	}

	.right-column{
		justify-content: center;
	}
}
